<p>Nueva Cuenta</p>
<form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
    <div>
        <mat-form-field>
            <input matInput type="password" name="password" placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="!getPasswordForm().valid && accountForm.controls['password'].touched">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="password" name="confirm" placeholder="Confirmar contraseña" formControlName="confirm">
            <mat-error *ngIf="!getConfirmForm().valid && accountForm.controls['confirm'].touched">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Ingresar</button>
</form>
