<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header indigo">
                        <h4 class="card-title text">Importar billetera multifirma</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="multisignForm" (ngSubmit)="onSubmit(multisignForm.value)">
                            <div>
                                <mat-form-field>
                                    <input matInput type="text" name="name" placeholder="Nombre" formControlName="name">
                                    <mat-error *ngIf="!getNameForm().valid && multisignForm.controls['name'].touched">
                                        {{errorMessage}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                <textarea matInput type="text" name="shared_secret" placeholder="Clave compartida" formControlName="shared_secret"></textarea>
                                <mat-error *ngIf="!getSharedSecretForm().valid && multisignForm.controls['shared_secret'].touched">
                                        {{errorMessage}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button type="submit">Importar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    