<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header indigo">
                        <h4 class="card-title text">Opciones</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="newWallet()" src="assets/img/newWallet.png">
                                        <div>
                                            <b>Crear Billetera</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="importWallet()" src="assets/img/icon-import-wallet.png">
                                        <div>
                                            <b>Importar Billetera</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="multisignWallet()" src="assets/img/addMultiSign.png">
                                        <div>
                                            <b>Crear Billetera Multifirma</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <img class="icon-img" (click)="importMultisignWallet()" src="assets/img/importMultisign.png">
                                        <div>
                                            <b>Importar Billetera Multifirma</b>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
