<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header indigo">
                        <h4 class="card-title text">Importar billetera de frase mnemotécnica</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="importForm" (ngSubmit)="onSubmit(importForm.value)">
                            <div>
                                <mat-form-field>
                                    <input matInput type="text" name="walletName" placeholder="Nombre" formControlName="walletName">
                                    <mat-error *ngIf="!getWalletNameForm().valid && importForm.controls['walletName'].touched">
                                        {{errorMessage}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                <textarea matInput type="text" name="mnemonic" placeholder="Frase de recuperacion" formControlName="mnemonic"></textarea>
                                <mat-error *ngIf="!getMnemonicForm().valid && importForm.controls['mnemonic'].touched">
                                        {{errorMessage}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <button mat-raised-button type="submit">Importar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


