<p>Ingrese su contraseña</p>
<form [formGroup]="verifyForm" (ngSubmit)="onSubmit(verifyForm.value)">
    <div>
        <mat-form-field>
            <input matInput type="password" name="password" placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="!getPasswordForm().valid && verifyForm.controls['password'].touched">
                {{errorMessage}}
            </mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Ingresar</button>
</form>

